adjustText==1.4.0
anndata==0.12.18
anyio==4.14.1
array-api-compat==1.15.0
backports.tarfile==1.2.0
backports.zstd==1.6.0
biopython==1.87
brotli==1.2.0
cairocffi==1.7.1
CairoSVG==2.9.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
click==8.4.1
contourpy==1.3.3
cssselect2==0.9.0
cycler==0.12.1
defusedxml==0.7.1
distlib==0.4.3
distro==1.9.0
donfig==0.8.1.post1
editables==0.6
et_xmlfile==2.0.0
exceptiongroup==1.3.1
filelock==3.29.4
fonttools==4.63.0
formulaic-contrasts==1.0.0
formulaic==1.2.2
google-crc32c==1.8.0
gseapy==1.3.0
h11==0.16.0
h5py==3.16.0
hatch==1.17.0
hatchling==1.30.1
httpcore2==2.5.0
httpx2==2.5.0
hyperlink==21.0.0
idna==3.18
importlib_metadata==9.0.0
importlib_resources==7.1.0
interface_meta==2.0.1
jaraco.classes==3.4.0
jaraco.context==6.1.2
jaraco.functools==4.5.0
joblib==1.5.3
keyring==25.7.0
kiwisolver==1.5.0
legacy-api-wrap==1.5
logomaker==0.8.6
markdown-it-py==4.2.0
Markdown==3.10.2
matplotlib==3.11.0
mdurl==0.1.2
more-itertools==11.1.0
munkres==1.1.4
narwhals==2.22.1
natsort==8.4.0
numcodecs==0.16.5
numpy==2.4.6
openpyxl==3.1.5
packaging==26.2
pandas==2.3.3
pathspec==1.1.1
patsy==1.0.2
pexpect==4.9.0
pillow==12.2.0
pip==26.1.2
platformdirs==4.10.0
pluggy==1.6.0
ptyprocess==0.7.0
pycparser==3.0
pydeseq2==0.5.4
pydyf==0.12.1
Pygments==2.20.0
pyparsing==3.3.2
pypdf==6.14.2
pypdfium2==5.11.0
pyphen==0.17.2
pyproject_hooks==1.2.0
pysam==0.24.1
python-dateutil==2.9.0.post0
python-discovery==1.4.2
pytz==2026.2
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
scikit-learn==1.9.0
scipy==1.17.1
scverse-misc==0.0.3
seaborn==0.13.2
session-info2==0.4.1
session_info==1.0.1
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
statsmodels==0.14.6
stdlib-list==0.12.0
threadpoolctl==3.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
tomli==2.4.1
tomli_w==1.2.0
tomlkit==0.15.0
tornado==6.5.7
trove-classifiers==2026.6.1.19
truststore==0.10.4
typing_extensions==4.15.0
tzdata==2026.2
unicodedata2==17.0.1
urllib3==2.7.0
userpath==1.9.2
virtualenv==21.5.1
weasyprint==69.0
webencodings==0.5.1
wheel==0.47.0
wrapt==2.2.2
zarr==3.1.6
zipp==4.1.0
zopfli==0.4.3
